<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			Travel With Me
		</title>
			<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<header>
			<nav>
				<div>
					<a href="/">Home</a>
				</div>
					<a href="/admin/reservations"><button>All Reservations</button></a>
				</div>
				<div th:if="${userDetails}" class="login">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout"><button>Logout</button></a>
				</div>
				<div th:unless="${userDetails}">
					<a href="/signin"><button>Login</button></a>
				</div>
			</nav>
		</header>
		<section>
			<h1>Aggiungi un nuovo viaggio</h1>
				<form th:action="@{/admin/trip}" method="POST" th:object="${trip}" enctype="multipart/form-data" onsubmit="return validateDates();">
					<div th:if="${#fields.hasGlobalErrors()}">
  						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  					</div>
  					<div>
						<label>Inserisci immagini:</label> <span><input type="file" name="tripImage" multiple/></span>
					</div>
  					<div>
						<label>Category:</label>
						<span><input type="text" th:field="${trip.category}"/></span>
						<span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
					</div>
					<div>
						<label>From:</label>
						<span><input type="text" th:field="${trip.origin}"/></span>
						<span th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}"></span>
					</div>
					<div>
						<label>To:</label>
						<span><input type="text" th:field="${trip.destination}"/></span>
						<span th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></span>
					</div>
					<div>
						<label>Departure date:</label>
						<span><input type="date" id="departureDate" th:field="${trip.departuredate}"/></span>
						<span th:if="${#fields.hasErrors('departuredate')}" th:errors="*{departuredate}"></span>
					</div>
					<div>
						<label>Return date:</label>
						<span><input type="date" id="returnDate" th:field="${trip.returndate}"/></span>
						<span th:if="${#fields.hasErrors('returndate')}" th:errors="*{returndate}"></span>
					</div>
					<div>
						<label>Description:</label>
						<span><input type="text" th:field="${trip.description}"/></span>
						<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
					</div>
					<div>
						<label>Availability:</label>
						<span><input type="text" th:field="${trip.availability}"/></span>
						<span th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}"></span>
					</div>
					<div>
						<label>Price:</label>
						<span><input type="text" th:field="${trip.price}"/></span>
						<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
					</div>
					<div>
						<span><button type="submit">Add</button></span>
					</div>
				</form>
				
				<script>
    				function validateDates() {
        			var departureDate = new Date(document.getElementById('departureDate').value);
        			var returnDate = new Date(document.getElementById('returnDate').value);

        			if (returnDate < departureDate) {
            			alert('The return date cannot be earlier than the departure date');
            			return false;
        				}
    				}
				</script>
				
		</section>
		<footer>
    		Made by MADALIN ALEXANDRU AVADANEI
  		</footer>
	</body>
</html>