<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			Travel With Me
		</title>
			<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<header>
			<nav>
				<div>
					<a href="/">Home</a>
				</div>
					<a href="/admin/reservations"><button>All Reservations</button></a>
				</div>
				<div th:if="${userDetails}" class="login">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout"><button>Logout</button></a>
				</div>
				<div th:unless="${userDetails}">
					<a href="/signin"><button>Login</button></a>
				</div>
			</nav>
		</header>
		<section>
			<h1>Dettagli Viaggio</h1>
			<div th:if="${trip}">
				<div th:each="image: ${trip.images}">
            		<img th:src="@{'/image/' + ${image.id}}">
            		<button>
						<a th:href="'/admin/deleteImage/' + ${trip.id} + '/' + ${image.id}">Remove</a>
					</button>
        		</div>
        		<form th:action="@{'/admin/updateTripImages/' + ${trip.id}}" method="POST" th:object="${trip}" enctype="multipart/form-data">
					<div>
						<label>Aggiungi immagini:</label> <span><input type="file" name="tripImage" multiple required/></span>
					</div>
					<div>
						<span><button type="submit">Conferma</button></span>
					</div>
				</form>
				<div>
					<span>Category: </span><span th:text="${trip.category}">...</span>
				</div>
				<div>
					<span>From: </span><span th:text="${trip.origin}">...</span>
				</div>
				<div>
					<span>To: </span><span th:text="${trip.destination}">...</span>
				</div>
				<div>
					<span>Departure Date: </span><span th:text="${trip.departuredate}">...</span>
				</div>
				<div>
					<span>Return Date: </span><span th:text="${trip.returndate}">...</span>
				</div>
				<div>
					<span>Days: </span><span th:text="${trip.days}">...</span>
				</div>
				<div th:if="${trip.description}">
					<span>Description: </span><span th:text="${trip.description}">...</span>
				</div>
				<div th:if="${trip.description}">
					<form th:action="@{'/admin/changeDescription/' + ${trip.id}}" method="POST">
							<label>New Description: </label><span><input type="text" name="newDescription"/></span>
							<span><button type="submit">Change</button></span>
					</form>
				</div>
				
				<div>
					<span>Price: </span><span th:text="${trip.price}">...</span> EUR
				</div>
				<form th:action="@{'/admin/changePrice/' + ${trip.id}}" method="POST" onsubmit="return validatePrice();">
						<label>New price: </label><span><input type="text" id="price" name="newPrice" min="0" step="0.01" required/></span>
						<span><button type="submit">Change</button></span>
				</form>
				<div>
					<span>Availability: </span><span th:text="${trip.availability}">...</span> Left
				</div>
				<form th:action="@{'/admin/changeAvailability/' + ${trip.id}}" method="POST" onsubmit="return validateAv();">
						<label>New Availability: </label><span><input type="text" id="availability" name="newAvailability" required/></span>
						<span><button type="submit">Change</button></span>
				</form>
				<script>
				function validateAv() {
        			var availability = document.getElementById('availability').value;
        
        			if (!Number.isInteger(Number(availability))) {
            			alert('The availability must be an integer without decimals');
            			return false;
        			}

        			if (parseInt(availability) < 0) {
           				alert('The availability cannot be negative');
            			return false;
        			}
    			}
    			function validatePrice() {
        			var price = parseFloat(document.getElementById('price').value);

					if (isNaN(price)) {
    					alert('The price must be a valid number');
    					return false;
					}
					
					if (price < 0) {
					    alert('The price cannot be negative');
					    return false;
					}

    			}
    			
				</script>
			</div>
			<div th:unless="${trip}">Non esiste	il viaggio
			</div>
			
			
			
		</section>
		<footer>
    		Made by MADALIN ALEXANDRU AVADANEI
  		</footer>
	</body>
</html>