<!DOCTYPE html>
<html>
	<head>
		<title>
			Travel With Me
		</title>
			<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<header>
			<nav>
				<div>
					<a href="/">Home</a>
				</div>
				<div>
					<a href="/admin/reservations"><button>All Reservations</button></a>
				</div>
				</div>
				<div th:if="${userDetails}" class="login">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout"><button>Logout</button></a>
				</div>
				<div th:unless="${userDetails}">
					<a href="/login"><button>Login</button></a>
				</div>
			</nav>
		</header>
		<section>
			<div>
				<a href="/trip">Tutti i viaggi</a>
			</div>
			<div>
				<a href="/searchTrip">Cerca viaggi</a>
			</div>
			<div>
				<a href="/admin/formNewTrip">Aggiungi un viaggio</a>
			</div>
		</section>
		<footer>
    		Made by MADALIN ALEXANDRU AVADANEI
  		</footer>
	</body>
</html>