<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			Travel With Me
		</title>
			<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<header>
			<nav>
				<div>
					<a href="/">Home</a>
				</div>
				<div th:if="${userDetails}" class="login">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout"><button>Logout</button></a>
				</div>
				<div th:unless="${userDetails}">
					<a href="/signin"><button>Login</button></a>
				</div>
			</nav>
		</header>
		<section>
			<div th:if="${reservations==null || reservations.isEmpty()}">There are no reservations</div>
			<ul>
				<li th:each="reservation : ${reservations}">
					<div>
						------------------------------------------------------------
					</div>
					<div>
						<span>On <span th:text="${reservation.dateofreservation}">...</span></span>
						<span>the user <span th:text="${reservation.getUser().name + ' ' + reservation.getUser().surname + ' ' + '(' + reservation.getUser().username + ')'}">...</span></span>
						<span>has booked the following trip :</span>
					</div>
					<div>
						<span>Category: <span th:text="${reservation.getTrip().category}">...</span></span>
					</div>
					<div>
						<span>From: <span th:text="${reservation.getTrip().origin}">...</span></span>
					</div>
					<div>
						<span>To: <span th:text="${reservation.getTrip().destination}">...</span></span>
					</div>
					<div>
						<span>Departure Date: <span th:text="${reservation.getTrip().departuredate}">...</span></span>
					</div>
					<div>
						<span>Return Date: <span th:text="${reservation.getTrip().returndate}">...</span></span>
					</div>
					<div>
						<span>Days: <span th:text="${reservation.getTrip().days}">...</span></span>
					</div>
					<button>
						<a th:href="@{'/trip' + '/' + ${reservation.getTrip().id}}">Open for more details of this trip</a>
					</button>
				</li>
			</ul>
		</section>
		<footer>
    		Made by MADALIN ALEXANDRU AVADANEI
  		</footer>
	</body>
</html>