<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			Travel With Me
		</title>
			<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<header>
			<nav>
				<div>
					<a href="/">Home</a>
				</div>
				<div sec:authorize="hasAuthority('ADMIN')">
					<a href="/admin/reservations"><button>All Reservations</button></a>
				</div>
				</div>
				<div th:if="${userDetails}" class="login">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout"><button>Logout</button></a>
				</div>
				<div th:unless="${userDetails}">
					<a href="/signin"><button>Login</button></a>
				</div>
			</nav>
		</header>
		<section>
			<h1>Registrazione nuovo utente</h1>
			<form th:action="@{/register}" method="POST">
				<div>
					<label>Nome</label>
					<span><input type="text" placeholder="name" required th:field="${user.name}" /></span>
					<span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" th:style="'color:red'"></span>
				</div>
				<div>
					<label>Cognome</label>
					<span><input type="text" placeholder="surname" required th:field="${user.surname}" /></span>
					<span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" th:style="'color:red'"></span>
				</div>
				<div>
					<label>Email</label>
					<span><input type="text" placeholder="email" required th:field="${user.email}" /></span>
					<span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'"></span>
				</div>
				<div>
					<label>Username</label>
					<span><input type="text" placeholder="username" required th:field="${credentials.username}" /></span>
					<span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
				</div>
				<div>
					<label>Password</label>
					<span><input type="password" placeholder="password" required th:field="${credentials.password}" /></span>
					<span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
				</div>
				<div>
					<button type="submit">Registra</button>
				</div>
			</form>
		</section>
		<footer>
    		Made by MADALIN ALEXANDRU AVADANEI
  		</footer>
	</body>
</html>