<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta chaset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initia-scale=1.0">
		<title>Travel With Me - Search Trips</title>
		<link rel="stylesheet" href="/css/formSearchTrip.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
		<!-- Link Swiper's CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

	</head>
	<body>
		<header>
			<a href="/" class="logo"> <i class='bx bxs-map'></i> Travel with me </a>
			
			<ul class="navbar">
				<li><a href="/" class="active">Home</a></li>
				<li><a href="/searchTrip">Book</a></li>
				<li><a href="/trips">Trips</a></li>
				<li><a href="#feedbacks">Feedbacks</a></li>
				<li><a href="#contacts">Contacts</a></li>
				<li sec:authorize="hasAuthority('DEFAULT')"><a href="/myReservations">My reservations</a></li>
				<li sec:authorize="hasAuthority('ADMIN')"><a href="/admin/reservations">All reservations</a></li>

				<li th:if="${userDetails}">Account: <em><span th:text="${userDetails.username}"></span></em></li>
				<li th:if="${userDetails}"><a href="/logout">Logout</a></li>
				<li th:unless="${userDetails}"><a href="/login">Login</a></li>
			</ul>
		</header>
		
		<section class="home swiper" id="home">
			<div class="swiper-wrapper">
      			<div class="swiper-slide container">
					<img src="/images/book1.jpg" alt="">
				 </div>
				 <div class="swiper-slide container">
					<img src="/images/book2.jpg" alt="">
				 </div>
				 <div class="swiper-slide container">
					<img src="/images/book3.jpg" alt="">
				 </div>
    		</div>
    		<div class="swiper-pagination"></div>
		</section>
		
		<section class="searchbox">
			<h2>Find your perfect trip</h2>
			<form th:action="@{/findTrip}" method="POST" onsubmit="return validateForm();">
				<div>
					<input type="text" id="category" name="category" placeholder="Category"/>
				</div>
				<input type="text" id="origin" name="origin" placeholder="From"/>
				<div>
					<input type="text" id="destination" name="destination" placeholder="To"/>
				</div>
				<div class="input-group">
					<label for="departuredate">Departure Date</label>
					<input type="date" id="departuredate" name="departuredate"/>
				</div>
				
				<div class="input-group">
					<label for="returndate">Return Date</label>
					<input type="date" id="returndate" name="returnDate"  />
				</div>
				<div>
					<button type="submit">Search</button>
				</div>
			</form>
		</section>
		
		
		<div class="copyright">
			<p>&#169; TravelWithMe All Right Reserved</p>
		</div>
		
		
		<!-- Swiper JS -->
  		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
		<!-- Custom JS -->
		<script>
			//Validation
			function validateForm() {
        		var departureDate = document.getElementById('departuredate').value;
        		var returnDate = document.getElementById('returndate').value;
				var category = document.getElementById('category').value;
    			var origin = document.getElementById('origin').value;
    			var destination = document.getElementById('destination').value;
    			
    			if (category === "" && origin === "" && destination === "" && departureDate === "" && returnDate === "") {
            		alert('Please fill in at least one field');
            		return false;
        			}
    			
        		if (returnDate < departureDate) {
            		alert('The return date cannot be earlier than the departure date');
           			return false;
        			}
    		}
    		
			// Header scroll
			let header = document.querySelector('header');
			
			window.addEventListener('scroll', () => {
				header.classList.toggle('shadow', window.scrollY > 0);
			});
			
			// Swiper
  			var swiper = new Swiper(".home", {
    			spaceBetween: 30,
    			centeredSlides: true,
    			autoplay: {
      			delay: 2500,
      			disableOnInteraction: false,
    		},
    		pagination: {
      			el: ".swiper-pagination",
      			clickable: true,
    		},
  			});
  			
  			
		</script>

	</body>
</html>
