<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			Travel With Me
		</title>
			<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<header>
			<nav>
				<div>
					<a href="/">Home</a>
				</div>
				<div sec:authorize="hasAuthority('ADMIN')">
					<a href="/admin/reservations"><button>All Reservations</button></a>
				</div>
				<div sec:authorize="hasAuthority('DEFAULT')">
					<a href="/myReservations"><button>My reservations</button></a>
				</div>
				</div>
				<div th:if="${userDetails}" class="login">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout"><button>Logout</button></a>
				</div>
				<div th:unless="${userDetails}">
					<a href="/signin"><button>Login</button></a>
				</div>
			</nav>
		</header>
		<section>
			<h1>Find your Trip</h1>
			<form th:action="@{/searchTrip}" method="POST">
				<div>Category: <input type="text" th:value="${category}" name="category" /></div>
				<div>From: <input type="text" th:value="${origin}" name="origin" /></div>
				<div>To: <input type="text" th:value="${destination}" name="destination" /></div>
				<div>Departure date: <input type="date" th:value="${departuredate}" name="departuredate" /></div>
				<div>Return date: <input type="date" th:value="${returndate}" name="returndate" /></div>
				<div><input type="submit" /></div>
			</form>
		</section>
		<footer>
    		Made by MADALIN ALEXANDRU AVADANEI
  		</footer>
	</body>
</html>