<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			Travel With Me
		</title>
			<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<header>
			<nav>
				<div>
					<a href="/">Home</a>
				</div>
				<div sec:authorize="hasAuthority('ADMIN')">
					<a href="/admin/reservations"><button>All Reservations</button></a>
				</div>
				<div sec:authorize="hasAuthority('DEFAULT')">
					<a href="/myReservations"><button>My reservations</button></a>
				</div>
				<div th:if="${userDetails}" class="login">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout"><button>Logout</button></a>
				</div>
				<div th:unless="${userDetails}">
					<a href="/signin"><button>Login</button></a>
				</div>
			</nav>
		</header>
		<section>
			<h1>Find your Trip</h1>
			<form th:action="@{/findTrip}" method="POST" onsubmit="return validateForm();">
				<div>Category: <input type="text" id="category" name="category"/></div>
				<div>From: <input type="text" id="origin" name="origin" /></div>
				<div>To: <input type="text" id="destination" name="destination" /></div>
				<div>Departure date: <input type="date" id="departuredate" name="departuredate" /></div>
				<div>Return date: <input type="date" id="returndate" name="returndate" /></div>
				<div>
					<button type="submit">Search</button>
				</div>
			</form>
			
			<script>
    			function validateForm() {
        		var departureDate = document.getElementById('departuredate').value;
        		var returnDate = document.getElementById('returndate').value;
				var category = document.getElementById('category').value;
    			var origin = document.getElementById('origin').value;
    			var destination = document.getElementById('destination').value;
    			
    			if (category === "" && origin === "" && destination === "" && departureDate === "" && returnDate === "") {
            		alert('Please fill in at least one field');
            		return false;
        			}
    			
        		if (returnDate < departureDate) {
            		alert('The return date cannot be earlier than the departure date');
           			return false;
        			}
    			}
			</script>
			
		</section>
		<footer>
    		Made by MADALIN ALEXANDRU AVADANEI
  		</footer>
	</body>
</html>