<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta chaset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initia-scale=1.0">
		<title>Travel With Me - Sign Up</title>
		<link rel="stylesheet" href="/css/formRegisterUser.css" />
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	</head>
	<body>
		<header>
			<a href="/" class="logo">Travel with me</a>
			
			<ul class="navbar">
				<li><a href="/">Home</a></li>
				<li><a href="/searchTrip">Book</a></li>
				<li><a href="/trips">Trips</a></li>
				<li><a href="/#feedbacks">Feedbacks</a></li>
				<li><a href="/#contacts">Contacts</a></li>
				<li th:if="${userDetails}">Account: <em><span th:text="${userDetails.username}"></span></em></li>
				<li th:if="${userDetails}"><a href="/logout">Logout</a></li>
				<li th:unless="${userDetails}" ><a href="/login" class="active" >Login</a></li>
			</ul>
		</header>
		
		
		<section>
		<div class="wrapper">
			<form th:action="@{/register}" method="POST">
				<h1>Sign Up</h1>
				<div class="input-box">
					<input name="name" type="text" th:field="${user.name}" placeholder="Name" required/>
					<span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" th:style="'color:red'"></span>
					<i class='bx bxs-user-plus' ></i>
				</div>
				<div class="input-box">
					<input name="surname" type="text" th:field="${user.surname}" placeholder="Surname"  required />
					<span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" th:style="'color:red'"></span>
					<i class='bx bxs-user-plus' ></i>
				</div>
				<div class="input-box">
					<input name="email" type="text" th:field="${user.email}" placeholder="E-mail" required/>
					<span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'"></span>
					<i class='bx bxs-envelope' ></i>
				</div>
				<div class="input-box">
					<input name="username" type="text" th:field="${credentials.username}" placeholder="Username" required/>
					<span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
					<i class='bx bxs-user'></i>
				</div>
				<div class="input-box">
					<input name="password" type="password" th:field="${credentials.password}" placeholder="Password" required/>
					<span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
					<i class='bx bxs-lock-alt' ></i>
				</div>
				
				<button type="submit">Register</button>
				<div class="register-link">
					<p>Already have an account? <a th:href="@{/login}">Login</a></p>
				</div>
			</form>
		</div>
	</section>
	
	<div class="copyright">
			<p>&#169; TravelWithMe All Right Reserved</p>
		</div>
		
	</body>
</html>