<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta chaset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initia-scale=1.0">
		<title>Travel With Me</title>
		<link rel="stylesheet" href="/css/registrationSuccessful.css" />
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	</head>
	<body>
		<header>
			<a href="/" class="logo">Travel with me</a>
			
			<ul class="navbar">
				<li><a href="/">Home</a></li>
				<li><a href="/searchTrip">Book</a></li>
				<li><a href="/trips">Trips</a></li>
				<li><a href="/#feedbacks">Feedbacks</a></li>
				<li><a href="/#contacts">Contacts</a></li>
				<li th:if="${userDetails}">Account: <em><span th:text="${userDetails.username}"></span></em></li>
				<li th:if="${userDetails}"><a href="/logout">Logout</a></li>
				<li th:unless="${userDetails}" class="active" ><a href="/login">Login</a></li>
			</ul>
		</header>
		
		<section>
			<div class="wrapper">
				<h1>Registration successful!</h1>
				<div>
					<span>Name: </span>
					<em><span th:text="${user.name}"></span></em>
				</div>
				<div>
					<span>Surname: </span>
					<em><span th:text="${user.surname}"></span></em>
				</div>
				<div>
					<span>Email: </span>
					<em><span th:text="${user.email}"></span></em>
				</div>
				<a href="/login"><button>Sign In now</button></a>

			</div>
		</section>
		
		
		
		
		
		
		
		<div class="copyright">
			<p>&#169; TravelWithMe All Right Reserved</p>
		</div>
		
	</body>
</html>