<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			Travel With Me
		</title>
			<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<header>
			<nav>
				<div>
					<a href="/">Home</a>
				</div>
				<div sec:authorize="hasAuthority('ADMIN')">
					<a href="/admin/reservations"><button>All Reservations</button></a>
				</div>
				<div sec:authorize="hasAuthority('DEFAULT')">
					<a href="/myReservations"><button>My Reservations</button></a>
				</div>
				</div>
				<div th:if="${userDetails}" class="login">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout"><button>Logout</button></a>
				</div>
				<div th:unless="${userDetails}">
					<a href="/login"><button>Login</button></a>
				</div>
			</nav>
		</header>
		<section>
			<h1>Dettagli Viaggio</h1>
			<div th:if="${trip}">
				<div th:each="image: ${trip.images}">
            		<img th:src="@{'/image/' + ${image.id}}">
        		</div>
				<div>
					<span>Category: </span><span th:text="${trip.category}">...</span>
				</div>
				<div>
					<span>From: </span><span th:text="${trip.origin}">...</span>
				</div>
				<div>
					<span>To: </span><span th:text="${trip.destination}">...</span>
				</div>
				<div>
					<span>Date of departure: </span><span th:text="${trip.dateofdeparture}">...</span>
				</div>
				<div>
					<span>Description: </span><span th:text="${trip.description}">...</span>
				</div>
				<div>
					<span>Days: </span><span th:text="${trip.days}">...</span>
				</div>
				<div>
					<span>Availability: </span><span th:text="${trip.availability}">...</span>
				</div>
				<div>
					<span>Price: </span><span th:text="${trip.price}">...</span><span> EUR</span>
				</div>
				
				<button sec:authorize="hasAuthority('ADMIN')">
               		<a th:href="@{'/admin/formUpdateTrip/' + ${trip.id}}">Update this trip</a>
                </button>
        		
        		<div sec:authorize="hasAuthority('DEFAULT')">
					<div th:if="${hasPartecipated}">
        				<div th:if="${hasNotAlreadyCommented}">
                			<h1>Aggiungi recensione</h1>
                			<form th:action="@{'/user/uploadReview/' + ${trip.id}}" method="post" th:object="${review}" class="form">
                   				<div>
                        			<span><input hidden th:value="${user}" th:field="${review.username}" /></span>
                    			</div>
                    			<div>
                        			<label>Titolo:</label>
                        			<span><input type="text" th:field="${review.title}" /></span>
                    			</div>
                    			<div>
                        			<label>Descrizione:</label>
                        			<span><input type="text" th:field="${review.description}" /></span>
                    			</div>
                    			<div>
                        			<label>Rating:</label>
                        			<span><input type="number" min="1" max="5" th:field="${review.rating}" /></span>
                    			</div>
                    			<div>
                        			<span><button type="submit">Conferma</button></span>
                    			</div>
                			</form>
            			</div>
        			</div>
        			<div th:unless="${hasPartecipated}">
						<div th:if="${trip.availability != 0}">
							<a th:href="@{'/newReservation/' + ${trip.id}}"><button>Book</button></a>
						</div>
					</div>
				</div>
				
				<h1>Recensioni</h1>
        		<div th:if="${hasReviews}">
            		<ul th:each="rev : ${reviews}">
                	<div>
                    	<span th:text="${rev.username}"></span> <span> Ha Scritto </span>
                	</div>
                	<div>
                    	<span>Titolo: </span> <span th:text="${rev.title}"></span>
                	</div>
					<div>
                    	<span>Descrizione: </span> <span th:text="${rev.description}"></span>
              		</div>
                	<div class="bottom-label">
                    	<span>Rating: </span><span th:text="'Rating: ' + ${rev.rating}"></span>
                    	<button sec:authorize="hasAuthority('ADMIN')">
                       		<a th:href="'/admin/deleteReview/' + ${trip.id} + '/' + ${rev.id}">Delete</a>
                    	</button>
                	</div>
            		</ul>
        		</div>
        		<div th:unless="${hasReviews}">
            		Non ci sono recensioni per ora.
        		</div>
        		
			</div>
			<div th:unless="${trip}">Non esiste	il viaggio
			</div>
		</section>
		<footer>
    		Made by MADALIN ALEXANDRU AVADANEI
  		</footer>
	</body>
</html>